{% extends "base.html" %}
{% load i18n mezzanine_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Viddys!" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Viddys!" %}</li>
{% endblock %}

{% block main %}
<h2>Right click and "<em>Save Link As</em>" to get viddy source.</h2>

    <ul>
    {% for v in viddy %}
    <li>{{ v.title }}, (<em>{{ v.like_count }} likes</em>) - <a href="{{ v.video_source }}">(Right click and 'Save Link As')</a>
{#    <img src="{{ v.thumbnail }}" />#}
    </li>
    {% endfor %}
    </ul>
{% endblock %}
